@import 'tailwindcss';

@theme {
  --color-primary-background: #f6f6f6;
  --color-secondary-background: #edf0f4;
  --color-tertiary-background: #c9d3dd;
  --color-primary: #29323d;
  --color-secondary: #9fafc1;
  --color-border: #c3ced9;
}

.slick-next {
  right: 10px !important;
  z-index: 1 !important;
}

.slick-prev,
.slick-prev::before {
  left: 10px !important;
  z-index: 1 !important;
}

.slick-prev::before,
.slick-next::before,
.slick-arrow::before {
  color: black !important;
}
